<section class="card">
  <mat-toolbar color="primary">
    <div class="app-icon">
      <a routerLink="/">
         Book Care</a>
    </div>
    <div>
      <ul fxLayout class="menu">
        <li>
          <a mat-button routerLink="/">Home</a>
        </li>
        <li>
          <a mat-button routerLink="/books">Books</a>
        </li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu">Admin</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/add-book">Add Book</button>
            <button mat-menu-item routerLink="/view-books">View Books</button>
          </mat-menu>
        </li>
      </ul>
    </div>
    <div fxFlex></div>
    <div>
        <ul fxLayout class="menu">
          <li>
            <a mat-button routerLink="/cart">Cart <app-cartmenu></app-cartmenu></a>
          </li>
        </ul>
      </div>
  </mat-toolbar>
</section>

<div>
  <router-outlet></router-outlet>
</div>
