<section class="md-tall md-warn md-hue-3">
  <mat-toolbar color="primary" class="md-tall md-warn md-hue-3">
    <div class="app-icon">
      <a routerLink="/">
         My App</a>
    </div>
    <div>
      <ul fxLayout class="menu">
        <li>
          <a mat-button routerLink="/">Home</a>
        </li>
        <li>
          <a mat-button routerLink="/books">Books</a>
        </li>
        <li>
          <a mat-button routerLink="/add-book">Add Book</a>
        </li>
      </ul>
    </div>
    <div fxFlex></div>
    <div>
        <ul fxLayout class="menu">
          <li>
            <a mat-button routerLink="/cart">Cart <app-cartmenu></app-cartmenu></a>
          </li>
        </ul>
      </div>
  </mat-toolbar>
</section>

<div>
  <router-outlet></router-outlet>
</div>
