table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    text-align: left;
}

.cart-items {
    margin: 10px;
}

.buttons {
    margin-left: 10px;

    button {
        margin-bottom: 10px;
    }
}