table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid whitesmoke;
    text-align: left;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

.cart-items {
    margin: 10px;
}

.buttons {
    margin-left: 10px;

    button {
        margin-bottom: 10px;
    }
}

.actions {
    margin-top: 10px;
}

.complete {
    button {
        margin-left: 10px;
    }
}