mat-sidenav-container, mat-sidenav, mat-sidenav-content {
    height: 100%;
}

mat-sidenav {
    width: 200px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    color: lightgray;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-caption {
    display: inline-block;
    padding-left: 6px;
}