<div class="row">
  <div class="col-md-12 mt-10">
      <mat-card>
          <div class="row">
            <div class="col-md-6">
                <img mat-card-image src="/assets/icon.png" alt="" />
            </div>
            <div class="col-md-6">
                <mat-card-content>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam libero commodi, et molestiae aperiam tempora fuga! Vero quis deleniti beatae.
                    </p>
                  </mat-card-content>
            </div>
          </div>
      </mat-card>
  </div>
</div>